.media-card {
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

  .mat-card-header {
    padding: 16px;
    display: flex;
    justify-content: center;
  }

  .mat-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: auto;
  }

  .mat-card-content {
    padding: 16px;
    text-align: center;

    .media-image {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 16px;
    }
  }
  .media-description {
    font-family: heebo;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
  }

  .media-title {
    font-family: heebo;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
  }
}
