.item-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: -15px;
}

.item-image {
  width: 150px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.item-text {
  text-align: center;
  font-family: heebo;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  margin-bottom: 30px;
}

.item-wrapper:hover .item-image {
  transform: scale(1.2)!important;
}

.item-wrapper:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
