<div class="page">
    <button mat-flat-button class="video-button" (click)="startVideo()">...גם פה מחכה הפתעה</button>
    <div class="container">
        <div class="timeline-container">
            <div class="timeline-line"></div>
            <div class="timeline-point" *ngFor="let point of points" (click)="openMedia(point, $event)"
                [class.selected]="selectedMedia && selectedMedia.title === point.title">
                <span class="year-text">{{ point.year }}</span>
                <span class="point"></span>
            </div>
        </div>
        <media *ngIf="selectedMedia" [mediaContent]="selectedMedia" [top]="mediaTop"></media>
    </div>
    <interactive class="ouzo" [item]="ouzo"></interactive>
    <interactive class="family" [item]="family"></interactive>
</div>
<div *ngIf="showStartScreen" class="splash" (click)="hideStartScreen()" [@fadeOut]="splashState">
    <div class="splash-content">
        <div class="splash-header">!יום נישואין לסבא וסבתא</div>
        <div class="splash-second">?תצליחו לנחש איזה אירוע בכל שנה</div>
    </div>
</div>